<a href="https://colab.research.google.com/github/myxa/PandemicDataHack/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# В этой тетрадке мы чистим данные для нашей модели.

Для начала импротируем все, что нужно и не нужно.

In [6]:
import numpy as np
import pandas as pd
import regex as re

import warnings
warnings.filterwarnings('ignore')

In [ ]:
! unzip '/content/drive/MyDrive/pandemicdatahack.zip'

In [25]:
train = pd.read_csv('/content/train.csv', sep=';')
test = pd.read_csv('/content/test.csv', sep=';')

train.sample(5)

            id                                position  ... publish_date  salary
285320  407412                     Финансовый менеджер  ...   2019-06-03  155700
213548  305026   Администратор, педагог по английскому  ...   2020-08-07   20621
223885  319885  хочу работать педагогом -организатором  ...   2019-08-12   13465
123421  176260                       Сотрудник полиции  ...   2020-06-07   42500
131722  188049                              Специалист  ...   2020-06-23   49600

[5 rows x 25 columns]

Чистка данных - самый важный и самый грустный момент в работе всякого датасаетниста. Но что поделать? Такими грустными и маленькими шажками мы двигаемся на пути к лучшей жизни!

Посмотрим на данные: куча текстовых признаков, признаки с большим количеством NaNов в своем строю, какие-то поля нужно разделить, какие-то и вовсе убрать...

## Водительские права

Видим в столбце driving_licences много комбинаций, какие у людей могут быть права.

In [8]:
train.drive_licences.value_counts()

[B]                90304
[B, C]             16871
[A, B, C]           3634
[A, B]              3315
[B, C, D]           1661
[B, C, D, E]        1402
[A, B, C, D, E]     1210
[B, C, E]           1038
[A, B, C, D]         577
[C]                  560
[A]                  459
[A, B, C, E]         417
[B, D]               229
[E]                   41
[D]                   38
[B, E]                33
[C, E]                28
[A, B, D]             24
[A, C]                17
[A, B, E]             15
[C, D, E]             13
[C, D]                13
[B, D, E]             12
[D, E]                 5
[A, D]                 3
[A, B, D, E]           3
[A, C, D]              1
[A, D, E]              1
[A, C, E]              1
Name: drive_licences, dtype: int64

Поэтому делим все на бинарные фичи.

In [26]:
X_train_new = train.drive_licences.fillna("N")
X_test_new = test.drive_licences.fillna("N")

In [27]:
drive_B = X_train_new.str.contains('B')
df_drive_B = pd.DataFrame(drive_B).rename(columns={'drive_licences':'B'}).astype(int)

drive_A = X_train_new.str.contains('A')
df_drive_A = pd.DataFrame(drive_A).rename(columns={'drive_licences':'A'}).astype(int)

drive_C = X_train_new.str.contains('C')
df_drive_C = pd.DataFrame(drive_C).rename(columns={'drive_licences':'C'}).astype(int)

drive_D = X_train_new.str.contains('D')
df_drive_D = pd.DataFrame(drive_D).rename(columns={'drive_licences':'D'}).astype(int)

drive_E = X_train_new.str.contains('E')
df_drive_E = pd.DataFrame(drive_E).rename(columns={'drive_licences':'E'}).astype(int)

In [28]:
new = [train, df_drive_A, df_drive_B, df_drive_C, df_drive_D, df_drive_E]
train = pd.concat(new, axis=1)
train.drop('drive_licences', axis=1, inplace=True)

Параллельно не забываем менять test.

In [29]:
drive_B = X_test_new.str.contains('B')
df_drive_B = pd.DataFrame(drive_B).rename(columns={'drive_licences':'B'}).astype(int)

drive_A = X_test_new.str.contains('A')
df_drive_A = pd.DataFrame(drive_A).rename(columns={'drive_licences':'A'}).astype(int)

drive_C = X_test_new.str.contains('C')
df_drive_C = pd.DataFrame(drive_C).rename(columns={'drive_licences':'C'}).astype(int)

drive_D = X_test_new.str.contains('D')
df_drive_D = pd.DataFrame(drive_D).rename(columns={'drive_licences':'D'}).astype(int)

drive_E = X_test_new.str.contains('E')
df_drive_E = pd.DataFrame(drive_E).rename(columns={'drive_licences':'E'}).astype(int)

In [30]:
new = [test, df_drive_A, df_drive_B, df_drive_C, df_drive_D, df_drive_E]
test = pd.concat(new, axis=1)
test.drop('drive_licences', axis=1, inplace=True)

In [31]:
train.sample(1)

            id             position             region  ...  C  D  E
218974  312802  Младший воспитатель  Тюменская область  ...  0  0  0

[1 rows x 29 columns]

## Gender

То же самое делаем с полом.

In [32]:
X_train_new = train['gender'].fillna("N")
X_test_new = test['gender'].fillna("N")

In [33]:
men = X_train_new.str.contains('Мужской')
df_men = pd.DataFrame(men).rename(columns={'gender':'men'}).astype(int)

women = X_train_new.str.contains('Женский')
df_women = pd.DataFrame(women).rename(columns={'gender':'women'}).astype(int)

In [34]:
new = [train, df_men, df_women]
train = pd.concat(new, axis=1)
train.drop('gender', axis=1, inplace=True)

In [35]:
men = X_test_new.str.contains('Мужской')
df_men = pd.DataFrame(men).rename(columns={'gender':'men'}).astype(int)

women = X_test_new.str.contains('Женский')
df_women = pd.DataFrame(women).rename(columns={'gender':'women'}).astype(int)

In [36]:
new = [test, df_men, df_women]
test = pd.concat(new, axis=1)
test.drop('gender', axis=1, inplace=True)

In [37]:
test.sample(1)

            id  position          region            industry  ...  D  E men women
120998  403873  Психолог  Омская область  Образование, наука  ...  0  0   0     1

[1 rows x 29 columns]

## Education type

Здесь с препроцессингом везде копипаст, и менять названия не хочется, чтобы все разом не сломалось.

In [38]:
train['education_type'].value_counts()

Высшее                      135436
Среднее профессиональное     79375
Среднее                      38991
Незаконченное высшее         12436
Name: education_type, dtype: int64

In [39]:
X_train_new = train.education_type.fillna("N")
X_test_new = test.education_type.fillna("N")

In [40]:
drive_B = X_train_new.str.contains('Высшее')
df_drive_B = pd.DataFrame(drive_B).rename(columns={'education_type':'edu_higher'}).astype(int)

drive_A = X_train_new.str.contains('Среднее профессиональное')
df_drive_A = pd.DataFrame(drive_A).rename(columns={'education_type':'edu_professional'}).astype(int)

drive_C = X_train_new.str.contains('Среднее')
df_drive_C = pd.DataFrame(drive_C).rename(columns={'education_type':'edu_middle'}).astype(int)

drive_D = X_train_new.str.contains('Незаконченное высшее')
df_drive_D = pd.DataFrame(drive_D).rename(columns={'education_type':'edu_notfinished'}).astype(int)

In [41]:
new = [train, df_drive_A, df_drive_B, df_drive_C, df_drive_D]
train = pd.concat(new, axis=1)
train.drop('education_type', axis=1, inplace=True)

In [42]:
drive_B = X_test_new.str.contains('Высшее')
df_drive_B = pd.DataFrame(drive_B).rename(columns={'education_type':'edu_higher'}).astype(int)

drive_A = X_test_new.str.contains('Среднее профессиональное')
df_drive_A = pd.DataFrame(drive_A).rename(columns={'education_type':'edu_professional'}).astype(int)

drive_C = X_test_new.str.contains('Среднее')
df_drive_C = pd.DataFrame(drive_C).rename(columns={'education_type':'edu_middle'}).astype(int)

drive_D = X_test_new.str.contains('Незаконченное высшее')
df_drive_D = pd.DataFrame(drive_D).rename(columns={'education_type':'edu_notfinished'}).astype(int)

In [43]:
new = [test, df_drive_A, df_drive_B, df_drive_C, df_drive_D]
test = pd.concat(new, axis=1)
test.drop('education_type', axis=1, inplace=True)

## Employment type

In [44]:
train.employement_type.value_counts()

Полная занятость       287403
Частичная занятость     12489
Удаленная                3601
Временная                1639
Сезонная                  804
Стажировка                334
Name: employement_type, dtype: int64

In [45]:
X_train_new = train['employement_type'].fillna("N")
X_test_new = test['employement_type'].fillna("N")

In [46]:
drive_B = X_train_new.str.contains('Полная занятость')
df_drive_B = pd.DataFrame(drive_B).rename(columns={'employement_type':'empl_full'}).astype(int)

drive_A = X_train_new.str.contains('Частичная занятость')
df_drive_A = pd.DataFrame(drive_A).rename(columns={'employement_type':'empl_part'}).astype(int)

drive_C = X_train_new.str.contains('Удаленная')
df_drive_C = pd.DataFrame(drive_C).rename(columns={'employement_type':'empl_distant'}).astype(int)

drive_D = X_train_new.str.contains('Сезонная')
df_drive_D = pd.DataFrame(drive_D).rename(columns={'employement_type':'empl_season'}).astype(int)

drive_E = X_train_new.str.contains('Стажировка')
df_drive_E = pd.DataFrame(drive_E).rename(columns={'employement_type':'empl_internship'}).astype(int)

drive_F = X_train_new.str.contains('Временная')
df_drive_F = pd.DataFrame(drive_F).rename(columns={'employement_type':'empl_temporary'}).astype(int)

In [47]:
new = [train, df_drive_A, df_drive_B, df_drive_C, df_drive_D, df_drive_E, drive_F]
train = pd.concat(new, axis=1)
train.drop('employement_type', axis=1, inplace=True)

In [48]:
drive_B = X_test_new.str.contains('Полная занятость')
df_drive_B = pd.DataFrame(drive_B).rename(columns={'employement_type':'empl_full'}).astype(int)

drive_A = X_test_new.str.contains('Частичная занятость')
df_drive_A = pd.DataFrame(drive_A).rename(columns={'employement_type':'empl_part'}).astype(int)

drive_C = X_test_new.str.contains('Удаленная')
df_drive_C = pd.DataFrame(drive_C).rename(columns={'employement_type':'empl_distant'}).astype(int)

drive_D = X_test_new.str.contains('Сезонная')
df_drive_D = pd.DataFrame(drive_D).rename(columns={'employement_type':'empl_season'}).astype(int)

drive_E = X_test_new.str.contains('Стажировка')
df_drive_E = pd.DataFrame(drive_E).rename(columns={'employement_type':'empl_internship'}).astype(int)

drive_F = X_test_new.str.contains('Временная')
df_drive_F = pd.DataFrame(drive_F).rename(columns={'employement_type':'empl_temporary'}).astype(int)

In [49]:
new = [test, df_drive_A, df_drive_B, df_drive_C, df_drive_D, df_drive_E, drive_F]
test = pd.concat(new, axis=1)
test.drop('employement_type', axis=1, inplace=True)

In [50]:
test.sample(3)

           id                   position  ... empl_season empl_internship
25964   86632             Администратор,  ...           0               0
43373  145037  Педагог начальных классов  ...           0               0
81528  271290    Системный администратор  ...           0               0

[3 rows x 36 columns]

## Бинарные фичи

Здесь все, что не True мы делаем False. Возможно, это очень грубо, но метрика улучшилась :) Также заполняем nanы, чобы не мешались.

In [51]:
train['region'] = train['region'].fillna('N')
test['region'] = test.region.fillna('N')

In [52]:
train['age'] = train['age'].fillna(-999)
test['age'] = test.age.fillna(-999)

Далее логика такая - если не указано, значит False, не хочет человек переезжать

In [53]:
train['travel_ready'] = train['travel_ready'].fillna(False)
test['travel_ready'] = test.travel_ready.fillna(False)

In [54]:
train['retraining_ready'] = train['retraining_ready'].fillna(False)
test['retraining_ready'] = test.retraining_ready.fillna(False)

Точно так же, если не указано, участвовал в Worldskills, будем считать, что не участвовал.

In [58]:
train['is_worldskills_participant'] = train['is_worldskills_participant'].fillna(False)
test['is_worldskills_participant'] = test.is_worldskills_participant.fillna(False)


train.loc[train['is_worldskills_participant'] == 'Участник движения, Данные подтверждены', 'is_worldskills_participant'] = True
test.loc[test['is_worldskills_participant'] == 'Участник движения, Данные подтверждены', 'is_worldskills_participant'] = True
train.loc[train['is_worldskills_participant'] == 'Участник движения', 'is_worldskills_participant'] = True
test.loc[test['is_worldskills_participant'] == 'Участник движения', 'is_worldskills_participant'] = True

In [57]:
train['has_qualifications'] = train['has_qualifications'].fillna(False)
test['has_qualifications'] = test.has_qualifications.fillna(False)

train.loc[train['has_qualifications'] == 'Свидетельство о независимой оценке квалификации', 'has_qualifications'] = True
test.loc[test['has_qualifications'] == 'Свидетельство о независимой оценке квалификации', 'has_qualifications'] = True

In [60]:
train.sample(5)

            id                        position  ... empl_season empl_internship
40515    57813                        Продавец  ...           0               0
127668  182334             Бухгалтер, менеджер  ...           0               0
207248  295992  Продавец кассир, администратор  ...           0               0
75230   107454  Переводчик с английского языка  ...           0               0
15772    22434                        Продавец  ...           0               0

[5 rows x 37 columns]

## Текстовые фичи

С текстовыми фичами разговор короткий - убираем запятые, приводим к нижнему регистру, оставляем только русские буквы. Так как мы используем Catboost, не обязательно переводить текст в векторы, ведь он сам над ними колдует. Именно за это мы любим Catboost (а не из-за того, что в его названии есть котик).

In [61]:
def clean(text):
  k = np.zeros_like(text)
  reg = re.compile('[^а-яА-Я ]')
  for n, i in enumerate(text):
    i = str(i)
    i = reg.sub(' ', i)
    i = re.sub(r'\s+', ' ', i)
    i = i.lower()
    k[n] = i
  return k

In [62]:
train['industry'] = clean(train['industry'])
test['industry'] = clean(test['industry'])

In [63]:
train['position'] = clean(train['position'])
test['position'] = clean(test['position'])

## Дата

Из всех предложенных дат мы решили оставить дату публикации, и то только год. Это показалось логичным и улучшило скор!

In [64]:
train.publish_date = train.publish_date.apply(lambda x: x[:4])
train.publish_date = train.publish_date.apply(lambda x: x[:4])

In [66]:
train.sample(5)

            id  ... empl_internship
305763  436787  ...               0
147568  210812  ...               0
116173  165851  ...               0
152810  218249  ...               0
240137  343108  ...               0

[5 rows x 37 columns]

Далее, при обучении моделей, мы то выкидывали, то включали некоторые фичи.